# Code owners in Azure Landing Zone public repository
# The '*' symbol means global owner
# e-mail example: 
# *     SpecialEPMC-ACMAzure-Operations@epam.com
# GitHub user example: 
# *     @SpecialEPMC-ACMAzure-Operations
